<p ng-click="active = 'prints'">Welcome {{userdata.username}}</p>
<p>This is the landing page for all logged in users.<br/>To perform different user actions use the menu above.</p>
<ul class="list-inline table-tabs">
    <li><a  ng-class="{active: activeTable == 'prints'}" ng-click="activeTable = 'prints'">Prints </a></li>
    <li><a  ng-class="{active: activeTable == 'accessories'}" ng-click="activeTable = 'accessories'">Accessories</a></li>
    <li><a  ng-class="{active: activeTable == 'clothing'}" ng-click="activeTable = 'clothing'">Clothing</a></li>
</ul>
<table class="table table-striped" ng-show="activeTable == 'prints'">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
    </tr>
    <tr ng-repeat="item in items.prints | orderBy: 'id' track by item.id">
        <td>
            {{item.id}}
        </td>
        <td>
            {{item.item_name}}
        </td>
        <td>
            {{item.item_price}}
        </td>
    </tr>
</table>
<table ng-show="activeTable == 'accessories'" class="table table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Price
        </th>
    </tr>
    <tr ng-repeat="item in items.accessories | orderBy: 'id' track by item.id">
        <td>
            {{item.id}}
        </td>
        <td>
            {{item.item_name}}
        </td>
        <td>
            {{item.item_price}}
        </td>
    </tr>
</table>
<table ng-show="activeTable == 'clothing'" class="table table-striped">
    <tr>
        <th>
          ID
        </th>
        <th>
          Name
        </th>
        <th>
          Price
        </th>
    </tr>
    <tr ng-repeat="item in items.clothing | orderBy: 'id' track by item.id">
        <td>
            {{item.id}}
        </td>
        <td>
            {{item.item_name}}
        </td>
        <td>
            {{item.item_price}}
        </td>
    </tr>
</table>
