#myCarousel{
  width:100%;
  z-index: 11;
  margin-top: 64px;

  .item{
    img{
      margin: 0 auto;
      display: block;
      max-height: 430px;
    }
  }
}

.prints{
  #myModal{
    .modal-dialog{
      width:90%;
    }

    .modal-content{
      border-radius: 0;
      background: rgba(255, 255, 255, 0.9);
    }
  }
  .print-image{
    max-height: 450px;
    margin: 0 auto;

  }

  .carousel-control{
    background-image: none;
  }


}

