@media (min-width:991px) {
  .toggle-button{
    display: none;
  }
  .navigation .collapse{
    display: block !important;
    height: unset !important;
  }
}

@media (max-width:991px) {
  .navigation, .accessories .navigation {
    bottom: 100%;
    width: 102%;
    top:0;

    ul li{
      display: block;
      text-align: left;
      padding-left: 22px;
    }
  }

  .sticky-nav-page .navigation{
    top:0;
  }

  .toggle-button{
    padding-right: 20px;
  }

  .overlay{
    padding: 30px 10px;
    font-size: 15px;
    top: 75px;
  }

  #slideshow .home-bg{
    background-position: center;
    width: 105%;
    //height: 800px;
  }
  .prints{
    .bg{
      height: 800px;
    }
  }

  .accessories .slideshow-wrapper{
    height:800px;
  }

}

@media (max-width:1200px) {
  .overlay{
    padding-top: 0;

  }

}

@media (max-width:767px) {
  .contact .form-col{
    padding: 10px;
    padding-top: 60px;
  }

  .contact-bg{
    height: auto;
  }

  .sticky-nav-page .row.promo {
    padding: 0;
  }

  .accessories, .prints, .clothing{
    .slideshow-wrapper{
      height:350px !important;
      #slideshow{
        height:350px;
        .row{
          height:350px;
        }
      }
    }
  }

  .sizes-select{
    select{

      width:150px;
    }

  }

}

@media (max-width: 488px) {
  .clothing-item-wrap {
    height: 312px;
  }
}

@media (max-width: 391px) {
  .thumbnails-row {
    width: 100%;
  }

}
