/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
  height:100%;
  width:100%;
  overflow-x: hidden;
  font-family: 'Cinzel', serif;
}

#slideshow{
  width:100%;
  overflow: hidden;
}

.home-bg{
  width:102%;
  height:100%;
  position: absolute;
}

.pic-one{
  background: url('../../img/white-top-stairs-doorway-1.jpeg') center no-repeat;
  background-size: cover;
}

.pic-two{
  background: url('../../img/stairs-smoulder-opt.jpg') center no-repeat;
  background-size: cover;
}

.pic-three{
  background: url('../../img/doorway-blackskirt.jpg') center no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}

.accessories, .clothing{
  .pic-one{
    background: url('../../img/green-door-scarf-opt.jpg') center no-repeat;
    background-size: cover;
  }
  .pic-two{
    background: url('../../img/scarf-green-stairs-opt.jpg') center no-repeat;
    background-size: cover;
  }
  .pic-three{
    background: url('../../img/white-balcony-scarf-opt.jpg') center no-repeat;
    background-size: cover;
  }
}

.navigation{
  position: absolute;
  top:85vh;
  width:100%;
  z-index: 11;
  background: rgba(0, 0, 0, 0);
  &.navbar-default{
    border: none;
    border-radius: 0;
  }

  .social{
    i{
      margin: 0 5px;
    }
  }

  ul{
    margin-bottom: 0;
    background: #000;
    li{
      display: inline-block;
      padding: 10px 0px 10px 52px;


      a{
        color:#ffffff;
        text-decoration: none;
        font-size: 17px;
        &:hover{
          text-decoration: none;
          color:#cccccc;
        }
      }
    }
  }

}

.overlay{
  position: absolute;
  height: auto;
  z-index: 10;
  font-size: 18px;
  display: block;
  top: 30px;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px 8% 130px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.prints{
  .bg.container-fluid{
   background: url('../img/background print-opt.jpg') center no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
  }

  .overlay{
    background: rgba(0, 0, 0, 0.8);
    width:100%;
    height:100%;
    top:0;
    left: 0;

  }
}

.sticky-nav-page{
  .home-bg{
    height:85vh;
  }
  .navigation{
    bottom: unset;
    top:85vh;
    &.fixed{
      position: fixed;
      top:0;
      bottom: 100vh;
      z-index: 100;
    }
  }

  .row.promo{
    padding: 50px;
    .panel{
      background: #eeeeee;
      border: 1px solid #cccccc;
    }
  }
}

.slideshow-wrapper{
  height:100vh;
  position: relative
}

.accessories .slideshow-wrapper{
  height:95vh;
}

footer.row{
  min-height: 100px;
  background: #fff;
  ul{
    text-align: center;
    padding-left: 0;
    li{
      padding: 10px;
      display: inline-block;
      a{
        color: #444444;
      }
    }
  }

}

.home, .about, .prints,.contact{
  footer.row{
    min-height: 120px;
    padding-top: 40px;
  }
}

.place-holder{
  height:300px;
  width:300px;
  background: #cccccc;
  margin: 0 auto;
  display: block;
}

.contact-bg{
  background: url('../img/contact-background.jpg') center no-repeat;
  background-size: cover;
  height:100vh;
}

.contact{
  input, textarea,select{
    border-radius: 0;
  }
  .form-col{
    padding: 60px;
    padding-top: 30px;
  }
}

.btn-md,.btn-md:hover,.btn-md:focus{
  background: #000000;
  color: #ffffff;
  padding: 6px 20px;
}

.sidebar{
  padding-left: 30px;
  li{
    cursor: pointer;
    padding: 0;
    border:none;
    a{
      text-decoration: none;
      padding: 10px 5px;
      color: #cccccc;
      height: 100%;
      width: 100%;
      display: block;
    }
    &.active,&.active:hover,&.active:focus{
      border-color: #cccccc;
      background: transparent;

      a{
        color: gold;
      }
    }
  }
}

.title-wrap{
  height:100px;
}

.blog,.item,.legal{
  .container{
    padding-top: 100px;
  }
  .navigation{
    top:0;
  }
}

.blog-promo-bg{
  padding:10px 20px;
  margin: 20px;
  min-height: 400px;
  box-shadow: 0 0 0 1px #cccccc;

  h1{
    font-size: 76px;
    text-align: center;
    background: rgba(255, 255, 255, 0.61);
    padding-top: 150px;
    padding-bottom: 150px;
    margin: 20px;
    transition: all 200ms ease;
    cursor: pointer;
    &:hover{
      background: rgba(255, 255, 255, 0.85);
      color:gray;
    }
  }
  &.bg-1{
    background: url('../../img/lnt-photoshoots.jpg') center no-repeat;
  }
  &.bg-2{
    background: url('../../img/lnt-drawings.jpg') center no-repeat;
  }
  &.bg-3{
    background: url('../../img/best-beauty.jpg') center no-repeat;
  }
}

.item-image{
  max-height:70vh;
  margin: 0 auto;

}

.item-details{
  .left-dot{
    margin-right: 10%;
  }
  .right-dot{
    margin-left: 10%;
  }
  .price{
    width: 85px;
    background: #fff;
    margin: 0 auto;
  }
  hr{
    border-width: 1px;
    border-color: #4e4e4e;
  }

  hr.line-through{
    margin-bottom: -11px;
  }
  h1{
    margin-bottom: 30px;
  }
  .description{
    padding-top: 25px;
    padding-bottom: 25px;
  }

}

.item{
  footer{
   margin-top: 50px;
  }
}

.clothing-image{
  max-height: 300px;
  margin: 0 auto;
}

.item-bag-wrap{
  height: 21px;
  margin-right:0 ;
  margin-bottom: -2px;
  display: inline-block;
  .item-bag{
    height: 21px;
    margin-bottom: -2px;
  }

}

.contact-bg {
  background: url(../../img/contact-background.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.clothing-item-wrap{
  max-height:400px;
}

.thumbnails-row{
  display: block;
  margin: 0 auto;
  width: 314px;
  padding-top: 10px;
  .col-md-4{
    padding: 0;
  }
}
.thumbnails{
  max-height: 30vh;
  display: inline-block;
  width: 86%;
  margin-left: 8px;
  border: 1px solid transparent;
  cursor: pointer;

  &.active{
    border: 1px solid gold;
  }
}

.sizes-select{
  margin-bottom: 30px;
  margin-top: 42px;

  select{
    width: 300px;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-right: 24px;
  }
}

.info{
  cursor: pointer;
}

.legal .content{

  font-family: Calibri, "Helvetica" ;

}

.size-modal{
  margin: 0 auto;
}

.size-link{
  display: block;
  margin-top: 8px;
  cursor: pointer;
  font-weight: 700;
}

.size-link-wrap{
  width: 100%;
  text-align: right;
}

.col-sm-6.print{
  height:400px;
  transition:all ease-in-out 300ms;
  &:hover{
    transform: scale(1.1);
  }

}

