/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body{
  height:100%;
  width:100%;
  overflow-x: hidden;
  font-family: 'Cinzel', serif;
}

#slideshow{
  width:100%;
  overflow: hidden;
}

.home-bg{
  width:102%;
  height:100%;
  position: absolute;
}

.pic-one{
  background: url('../img/white-top-stairs-doorway-1.jpeg') center no-repeat;
  background-size: cover;
}

.pic-two{
  background: url('../img/stairs-smoulder-opt.jpg') center no-repeat;
  background-size: cover;
}

.pic-three{
  background: url('../img/doorway-blackskirt.jpg') center no-repeat;
  background-size: cover;
  background-position: 0 -100px;
}

.accessories, .clothing{
  .pic-one{
    background: url('../img/green-door-scarf-opt.jpg') center no-repeat;
    background-size: cover;
  }
  .pic-two{
    background: url('../img/scarf-green-stairs-opt.jpg') center no-repeat;
    background-size: cover;
  }
  .pic-three{
    background: url('../img/white-balcony-scarf-opt.jpg') center no-repeat;
    background-size: cover;
  }
}

.navigation{
  position: absolute;
  bottom: 64px;
  width:100%;
  z-index: 11;
  background: rgba(0, 0, 0, 0);
  &.navbar-default{
    border: none;
    border-radius: 0;
  }

  .social{
    i{
      margin: 0 5px;
    }
  }

  ul{
    margin-bottom: 0;
    background: #000;
    li{
      display: inline-block;
      padding: 10px 0px 10px 52px;


      a{
        color:#ffffff;
        text-decoration: none;
        font-size: 17px;
        &:hover{
          text-decoration: none;
          color:#cccccc;
        }
      }
    }
  }

}

.overlay{
  position: absolute;
  height: auto;
  z-index: 10;
  font-size: 18px;
  width: 90%;
  display: block;
  top: 30px;
  background: rgba(255, 255, 255, 0.8);
  padding: 50px 19% 130px;
  left:5%;
}

.prints{
  .bg.container-fluid{
   background: url('../img/background print-opt.jpg') center no-repeat;
    background-size: cover;
    width:100%;
    height:100%;
  }

  .overlay{
    background: rgba(0, 0, 0, 0.8);
    width:100%;
    height:100%;
    top:0;
    left: 0;

  }
}

.accessories{
  .home-bg{
    height:550px;
  }
  .navigation{
    bottom: unset;
    top:550px;
    &.fixed{
      position: fixed;
      top:0;
      bottom: 100vh;
      z-index: 100;
    }
  }

  .row.promo{
    padding: 50px;
    .panel{
      background: #eeeeee;
      border: 1px solid #cccccc;
    }
  }
}

.slideshow-wrapper{
  height:100vh;
  position: relative
}

.accessories .slideshow-wrapper{
  height:95vh;
}

footer.row{
  min-height: 100px;
  background: #fff;
  ul{
    text-align: center;
    li{
      padding: 10px;
      display: inline-block;
      a{
        color: #444444;
      }
    }
  }

}

.home, .about, .prints,.contact{
  footer.row{
    min-height: 120px;
    padding-top: 40px;
  }
}

.place-holder{
  height:300px;
  width:300px;
  background: #cccccc;
  margin: 0 auto;
  display: block;
}

.contact-bg{
  background: url('../img/contact-background.jpg') center no-repeat;
  background-size: cover;
  height:100vh;
}

.contact{
  input, textarea{
    border-radius: 0;
  }
}
